# Java
backend/target/

# Environment config
backend/src/main/resources/application.properties

# Node
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Postman
.postman/
postman/
